input, textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border:  1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type=submit]{
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

form{
    border-radius: 10px;
    background-color: #ddd;
    padding: 20px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}